p,
h1,
h3,
ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 5%;
  background-color: azure;
  font-family: 'Ubuntu', sans-serif;

}

main {
  display: flex;
  padding: 5%;
  gap: 10%;
}

h1 {
  font-size: 54px;
}

h3 {
  font-size: 40px;
  line-height: 30px;
}

.scores-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

button {
  width: 100px;
  height: 30px;
  box-shadow: 5px 5px;
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
  background-color: rgb(252, 243, 230);
  color: rgb(99, 221, 221);
  cursor: pointer;
}

.main-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.submit-btn {
  align-self: flex-end;
}

ul {
  border: 3px solid black;
}

li {
  list-style: none;
  font-size: 18px;
  padding: 5px;
  font-weight: 500;
}

.aqua {
  background-color: rgb(99, 221, 221);
}

.other {
  background-color: rgb(252, 243, 230);
}

input {
  padding: 10px 20px;
  border: 3px solid black;
  background-color: rgb(252, 243, 230);
}

input::placeholder {
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  color: rgb(99, 221, 221);
}
